#### Step 1 - Imports

In [87]:
import requests
import pandas as pd
import sqlalchemy

#### Step 2 - Requests & CURL

In [40]:
headers = {
    'authority': 'api2.realtor.ca',
    'sec-ch-ua': '^\\^Google',
    'accept': '*/*',
    'content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
    'sec-ch-ua-mobile': '?1',
    'user-agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Mobile Safari/537.36',
    'sec-ch-ua-platform': '^\\^Android^\\^',
    'origin': 'https://www.realtor.ca',
    'sec-fetch-site': 'same-site',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.realtor.ca/',
    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
    'cookie': 'visid_incap_2269415=CdR2AwvDRr6Spkowhm5iLNaLRmEAAAAAQUIPAAAAAABaOXCnW2kvddLa0TjDC1F5; nlbi_2269415=QliTKuxqM3otvYdskG5lugAAAACG5HYtAxGdDG+mtB/Z0qSq; incap_ses_1291_2269415=C4JwWpU7OAn/AmjX7o3qEdeLRmEAAAAAbgM7auXzR45E8Wz8rVfZEw==; incap_ses_169_2269415=F0E5JkZayHV4cof58GhYAtaLRmEAAAAAxo7APIK4hJ56xlm2MF232w==; _gid=GA1.2.163503481.1632013274; _fbp=fb.1.1632013275092.1110991646; gig_bootstrap_3_mrQiIl6ov44s2X3j6NGWVZ9SDDtplqV7WgdcyEpGYnYxl7ygDWPQHqQqtpSiUfko=gigya-pr_ver4; ASP.NET_SessionId=05hezibxdtwdjckttl1tdw3h; visid_incap_2271082=8u9TxRjVQ72IizWLhrnSleSLRmEAAAAAQUIPAAAAAABhRINEA6FVuQmkjFa0uo9w; nlbi_2271082=2ptHA8XICE2/UL37cbDG1QAAAAA2+5iUrH2ik1xn9e9+90kd; incap_ses_169_2271082=xVUCK/Y8A0qCeIf58GhYAuSLRmEAAAAAO8qWHMIS09WItLPkH+PKYQ==; _dc_gtm_UA-12908513-11=1; nlbi_2269415_2147483646=zmQYWPSdsz5tBNJIkG5lugAAAADHBtUnWa2OLeRSg6AEV3ZC; reese84=3:8dwYsE/lzaObGuOwZAuGSw==:l9Sk8wkyAKn+SdEPwUtfZTvV6EjLfh2ADf6pZu0xtzN1gYvEeNCj+GIbdlcTT2GU+uYlCktJe/q8sHp3Q2I0WPffSuhIow7jX9+L5QjRYpq0aQA/U2TbyxxCUwZp6yZu5g/Wsk9cdsN7CVzx9XFZCPtMYd0rQnp9YcEkXxLpPWHu3TENUw6BcRH+XeQ2+69PxYa1MPVt4m+LxU403OKrXNcQ7/2CDY0HbPlvDDT1A+CxxY4SxzeghdAwaQk/jtXPdT4NitxBUwHAhvTceU6C8VZzbpjndMQplVPze134uDm0NYEZJK152ZuA/VEhULl8kG0XPrm+RifuuoOBaANFpnn4pTxczEnzEUnp35TvzCbqFjJ7wW71/ybzq1OnwJwb0tMuoDfeztNIvvS0c/H296BcoAimk0qAy6zjDGENHk6hRGgz196Z4dPBV/axsnr1:u3vyv5TWWl2OMpK4ByJ6DABlFdgioGQsiehzmdpcfsE=; _ga=GA1.2.345270434.1632013274; _ga_Y07J3B53QP=GS1.1.1632013273.1.1.1632014744.48; _4c_=fVPJbtswEP2VQEV1ihRxESkF0KFwgMCAu6BNUaCXgBZHNhFZVCnaqhvk3zt0ZDtNi^%^2BogcN68Wfhm^%^2BBiNa^%^2BiiayIYzQiXnOc8u4weYD9E149R3Yf^%^2FLvy2ro2uo7X3^%^2FXB9dTWOY^%^2BpAtd66tFZXG9W^%^2F^%^2BW7tZgE7aKsynkHnwVU8T2meMUrf0lki81SWZZln8UJ547ca3qufgSKJpGW8sN3qhCaSp6zIuThzTVdxnkpZ8uIFF9FEypQSznm8MzBWrRl8^%^2FMU6X4nkJv50C3auh2rFsvuGcgL^%^2BRx4j9kFtoProvRoV9vaWZh8^%^2FxJ^%^2Bc7cH5^%^2Fd2^%^2Bh1tnt^%^2F38piIn9AsoV6^%^2BDb64RvnOqG1Ttje0mjMazrXPQ1ftq9u4muoxqqwElI2Vaphna^%^2FhdaCcvCGToUNeqdxvPtu^%^2Fuv8xs0Gc^%^2BpzDjj6fM4GJUc^%^2Fb2zelv7e491kDXC8mLQD^%^2BjQsDM13I9G^%^2B3UoxIQ4o2swq7VHWIoioL0LFDyNptN2fB01oacokUtEF6pbbdUKptCFXa1AX8xxYaJGtQMghvrsTFcHClozu^%^2B2826Mxs63dLI1C8DMMRuNGGNVaN7ObDThTq7BO7uxB3tLZcYDQ52zt7AYuSoaoxU2Mvh3aG9B00ADK7J7rDcbDIc9xFScMF^%^2FgMJwe4D4oHPVuLxUMULj6y4TDEMxuxO2fwou49^%^2BLXV6MFhaxNYhzZ1IGto1Lb1wQxy1a0aBlNrGB687aOny^%^2Bjn86MiGSGc5gXD^%^2BXu8ciF4Fj5kOKOn1xU1tFaZrCEhS0YSLqlMFOVFQvO8ybjgmhEaHXOWsihxM3LKMcnOHHOQEoACbRLacJFwaJpECSYSoahUPCNLTetTDtwukWNfgkx9keLYVt9OGcmZTKXAgpIfyfx0iX43sfmLK2eMsbIkf1950mdS^%^2Bj^%^2Bx4l^%^2BxzV^%^2BNHenyH^%^2FTuKMx5VGf9SobEoN9JPvXKLwnNw5DGY9HJwWkmij^%^2BoB^%^2BTp6ek3',
}

data = {
  'ZoomLevel': '9',
  'LatitudeMax': '45.71729',
  'LongitudeMax': '-74.41430',
  'LatitudeMin': '44.77948',
  'LongitudeMin': '-77.18560',
  'Sort': '6-D',
  'PropertyTypeGroupID': '1',
  'PropertySearchTypeId': '1',
  'TransactionTypeId': '2',
  'Currency': 'CAD',
  'RecordsPerPage': '12',
  'ApplicationId': '1',
  'CultureId': '1',
  'Version': '7.0',
  'CurrentPage': '1'
}

response = requests.post('https://api2.realtor.ca/Listing.svc/PropertySearch_Post', headers=headers, data=data)

#### Step 3 - Check Status Code

In [41]:
response

#### Step 4 - Create Json Object

In [42]:
result_json=response.json()

#### Step 5 - Output Keys

In [43]:
result_json.keys()

dict_keys(['ErrorCode', 'Paging', 'Results', 'Pins', 'GroupingLevel'])

#### Step 6 - Find your Data

- Address
- Bedrooms
- Bathrooms
- Agent Name
- Area Code
- Phone Number
- Price

In [44]:
#starting point
result_items=result_json['Results']

In [45]:
len(result_items)

12

In [46]:
#address
result_items[0]['Property']['Address']['AddressText']

'3024 STONERIDGE ROAD|Ottawa, Ontario K0A1T0'

In [57]:
#beds
try:
    result_items[0]['Building']['Bedrooms']
except:
    print('n/a')

n/a

In [50]:
#baths
result_items[0]['Building']['BathroomTotal']

'0'

In [53]:
#agent name
result_items[0]['Individual'][0]['Name']

'Gordon Gu'

In [56]:
#area code
result_items[0]['Individual'][0]['Phones'][0]['AreaCode']

'613'

In [58]:
#phone number
result_items[0]['Individual'][0]['Phones'][0]['PhoneNumber']

'325-9127'

In [60]:
#price
result_items[0]['Property']['Price']

'$249,900'

#### Step 7 - Put everything together - Loop through results and append data inside a list

In [77]:
address=[]
bedrooms=[]
bathrooms=[]
agent_name=[]
area_code=[]
phone_number=[]
price=[]
for result in result_items:
    #address
    address.append(result['Property']['Address']['AddressText'])
    #bedrooms
    try:
        bedrooms.append(result['Building']['Bedrooms'])
    except:
        bedrooms.append('')
    #bathrooms
    try:
        bathrooms.append(result['Building']['BathroomTotal'])
    except:
        bathrooms.append('')
    #agent_name
    try:
        agent_name.append(result['Individual'][0]['Name'])
    except:
        agent_name.append('')
    #area_code
    try:
        area_code.append(result['Individual'][0]['Phones'][0]['AreaCode'])
    except:
        area_code.append('')
    #phone_number
    try:
        phone_number.append(result['Individual'][0]['Phones'][0]['PhoneNumber'])
    except:
        phone_number.append('')
    #price
    try:
        price.append(result['Property']['Price'])
    except:
        price.append('')

In [78]:
len(price)

12

#### Step 8 - Pandas Dataframe

In [79]:
df_realtor=pd.DataFrame({'Address':address,'Beds':bedrooms,'Baths':bathrooms,'Agent Name':agent_name,'Area Code':area_code,'Phone':phone_number,'Price':price})

In [80]:
df_realtor

,Address,Beds,Baths,Agent Name,Area Code,Phone,Price
0,"3024 STONERIDGE ROAD|Ottawa, Ontario K0A1T0",,0,Gordon Gu,613,325-9127,"$249,900"
1,"110 Rue Roméo-Lorrain|Gatineau (Buckingham), Q...",2,1,Gene Hartley,819,661-6118,"$224,900"
2,"229 DON BROWN PRIVATE|Kanata, Ontario K2M0A8",3 + 0,3,Brittany Brown,613,282-7653,"$684,900"
3,"320 MIWATE PRIVATE UNIT#508|Ottawa, Ontario K1...",1 + 0,1,Liam Kealey,613,698-8876,"$429,900"
4,"17-17A Rue du Nordet|Gatineau (Hull), Quebec J...",3,1,Yannick Arseneault,819,360-6967,"$574,900"
5,"59 KATHLEEN CRES|Ottawa, Ontario K2S1L5",3 + 1,3,ASHER HOROWITZ,416,577-9888,"$599,000"
6,"65 BORLAND DRIVE|Carleton Place, Ontario K7C0K8",2 + 1,3,Dan McConnell,613,851-9222,"$649,999"
7,"7 SINCLAIR AVENUE|Carleton Place, Ontario K7C4R9",4 + 1,4,Lynn Vardy,613,315-5966,"$799,800"
8,"119 Rue St-Hyacinthe|Gatineau (Hull), Quebec J...",2,1,Michelle Poirier Asselin,819,921-3883,"$329,900"
9,"6722 JEANNE D'ARC BOULEVARD N UNIT#A|Ottawa, O...",0 + 2,2,Hamid Riahi,613,860-7355,"$329,000"
10,"30 Rue Paul-Laframboise|Gatineau (Gatineau), Q...",3,1,Jimmy Arseneault,819,664-7755,"$319,800"
11,"224 Rue de la Sève|Gatineau (Gatineau), Quebec...",3,2,Gilbert Brisson,613,229-2554,"$505,000"

#### Step 9 - Multiple Pages

In [81]:
address=[]
bedrooms=[]
bathrooms=[]
agent_name=[]
area_code=[]
phone_number=[]
price=[]
for i in range(1, 50):
    headers = {
        'authority': 'api2.realtor.ca',
        'sec-ch-ua': '^\\^Google',
        'accept': '*/*',
        'content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
        'sec-ch-ua-mobile': '?1',
        'user-agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Mobile Safari/537.36',
        'sec-ch-ua-platform': '^\\^Android^\\^',
        'origin': 'https://www.realtor.ca',
        'sec-fetch-site': 'same-site',
        'sec-fetch-mode': 'cors',
        'sec-fetch-dest': 'empty',
        'referer': 'https://www.realtor.ca/',
        'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
        'cookie': 'visid_incap_2269415=CdR2AwvDRr6Spkowhm5iLNaLRmEAAAAAQUIPAAAAAABaOXCnW2kvddLa0TjDC1F5; nlbi_2269415=QliTKuxqM3otvYdskG5lugAAAACG5HYtAxGdDG+mtB/Z0qSq; incap_ses_1291_2269415=C4JwWpU7OAn/AmjX7o3qEdeLRmEAAAAAbgM7auXzR45E8Wz8rVfZEw==; incap_ses_169_2269415=F0E5JkZayHV4cof58GhYAtaLRmEAAAAAxo7APIK4hJ56xlm2MF232w==; _gid=GA1.2.163503481.1632013274; _fbp=fb.1.1632013275092.1110991646; gig_bootstrap_3_mrQiIl6ov44s2X3j6NGWVZ9SDDtplqV7WgdcyEpGYnYxl7ygDWPQHqQqtpSiUfko=gigya-pr_ver4; ASP.NET_SessionId=05hezibxdtwdjckttl1tdw3h; visid_incap_2271082=8u9TxRjVQ72IizWLhrnSleSLRmEAAAAAQUIPAAAAAABhRINEA6FVuQmkjFa0uo9w; nlbi_2271082=2ptHA8XICE2/UL37cbDG1QAAAAA2+5iUrH2ik1xn9e9+90kd; incap_ses_169_2271082=xVUCK/Y8A0qCeIf58GhYAuSLRmEAAAAAO8qWHMIS09WItLPkH+PKYQ==; _dc_gtm_UA-12908513-11=1; nlbi_2269415_2147483646=zmQYWPSdsz5tBNJIkG5lugAAAADHBtUnWa2OLeRSg6AEV3ZC; reese84=3:8dwYsE/lzaObGuOwZAuGSw==:l9Sk8wkyAKn+SdEPwUtfZTvV6EjLfh2ADf6pZu0xtzN1gYvEeNCj+GIbdlcTT2GU+uYlCktJe/q8sHp3Q2I0WPffSuhIow7jX9+L5QjRYpq0aQA/U2TbyxxCUwZp6yZu5g/Wsk9cdsN7CVzx9XFZCPtMYd0rQnp9YcEkXxLpPWHu3TENUw6BcRH+XeQ2+69PxYa1MPVt4m+LxU403OKrXNcQ7/2CDY0HbPlvDDT1A+CxxY4SxzeghdAwaQk/jtXPdT4NitxBUwHAhvTceU6C8VZzbpjndMQplVPze134uDm0NYEZJK152ZuA/VEhULl8kG0XPrm+RifuuoOBaANFpnn4pTxczEnzEUnp35TvzCbqFjJ7wW71/ybzq1OnwJwb0tMuoDfeztNIvvS0c/H296BcoAimk0qAy6zjDGENHk6hRGgz196Z4dPBV/axsnr1:u3vyv5TWWl2OMpK4ByJ6DABlFdgioGQsiehzmdpcfsE=; _ga=GA1.2.345270434.1632013274; _ga_Y07J3B53QP=GS1.1.1632013273.1.1.1632014744.48; _4c_=fVPJbtswEP2VQEV1ihRxESkF0KFwgMCAu6BNUaCXgBZHNhFZVCnaqhvk3zt0ZDtNi^%^2BogcN68Wfhm^%^2BBiNa^%^2BiiayIYzQiXnOc8u4weYD9E149R3Yf^%^2FLvy2ro2uo7X3^%^2FXB9dTWOY^%^2BpAtd66tFZXG9W^%^2F^%^2BW7tZgE7aKsynkHnwVU8T2meMUrf0lki81SWZZln8UJ547ca3qufgSKJpGW8sN3qhCaSp6zIuThzTVdxnkpZ8uIFF9FEypQSznm8MzBWrRl8^%^2FMU6X4nkJv50C3auh2rFsvuGcgL^%^2BRx4j9kFtoProvRoV9vaWZh8^%^2FxJ^%^2Bc7cH5^%^2Fd2^%^2Bh1tnt^%^2F38piIn9AsoV6^%^2BDb64RvnOqG1Ttje0mjMazrXPQ1ftq9u4muoxqqwElI2Vaphna^%^2FhdaCcvCGToUNeqdxvPtu^%^2Fuv8xs0Gc^%^2BpzDjj6fM4GJUc^%^2Fb2zelv7e491kDXC8mLQD^%^2BjQsDM13I9G^%^2B3UoxIQ4o2swq7VHWIoioL0LFDyNptN2fB01oacokUtEF6pbbdUKptCFXa1AX8xxYaJGtQMghvrsTFcHClozu^%^2B2826Mxs63dLI1C8DMMRuNGGNVaN7ObDThTq7BO7uxB3tLZcYDQ52zt7AYuSoaoxU2Mvh3aG9B00ADK7J7rDcbDIc9xFScMF^%^2FgMJwe4D4oHPVuLxUMULj6y4TDEMxuxO2fwou49^%^2BLXV6MFhaxNYhzZ1IGto1Lb1wQxy1a0aBlNrGB687aOny^%^2Bjn86MiGSGc5gXD^%^2BXu8ciF4Fj5kOKOn1xU1tFaZrCEhS0YSLqlMFOVFQvO8ybjgmhEaHXOWsihxM3LKMcnOHHOQEoACbRLacJFwaJpECSYSoahUPCNLTetTDtwukWNfgkx9keLYVt9OGcmZTKXAgpIfyfx0iX43sfmLK2eMsbIkf1950mdS^%^2Bj^%^2Bx4l^%^2BxzV^%^2BNHenyH^%^2FTuKMx5VGf9SobEoN9JPvXKLwnNw5DGY9HJwWkmij^%^2BoB^%^2BTp6ek3',
    }

    data = {
      'ZoomLevel': '9',
      'LatitudeMax': '45.71729',
      'LongitudeMax': '-74.41430',
      'LatitudeMin': '44.77948',
      'LongitudeMin': '-77.18560',
      'Sort': '6-D',
      'PropertyTypeGroupID': '1',
      'PropertySearchTypeId': '1',
      'TransactionTypeId': '2',
      'Currency': 'CAD',
      'RecordsPerPage': '12',
      'ApplicationId': '1',
      'CultureId': '1',
      'Version': '7.0',
      'CurrentPage': str(i)
    }

    response = requests.post('https://api2.realtor.ca/Listing.svc/PropertySearch_Post', headers=headers, data=data)
    result_json=response.json()
    result_items=result_json['Results']
    for result in result_items:
        #address
        address.append(result['Property']['Address']['AddressText'])
        #bedrooms
        try:
            bedrooms.append(result['Building']['Bedrooms'])
        except:
            bedrooms.append('')
        #bathrooms
        try:
            bathrooms.append(result['Building']['BathroomTotal'])
        except:
            bathrooms.append('')
        #agent_name
        try:
            agent_name.append(result['Individual'][0]['Name'])
        except:
            agent_name.append('')
        #area_code
        try:
            area_code.append(result['Individual'][0]['Phones'][0]['AreaCode'])
        except:
            area_code.append('')
        #phone_number
        try:
            phone_number.append(result['Individual'][0]['Phones'][0]['PhoneNumber'])
        except:
            phone_number.append('')
        #price
        try:
            price.append(result['Property']['Price'])
        except:
            price.append('')

In [82]:
df_realtor=pd.DataFrame({'Address':address,'Beds':bedrooms,'Baths':bathrooms,'Agent Name':agent_name,'Area Code':area_code,'Phone':phone_number,'Price':price})

In [83]:
df_realtor

,Address,Beds,Baths,Agent Name,Area Code,Phone,Price
0,"3024 STONERIDGE ROAD|Ottawa, Ontario K0A1T0",,0,Gordon Gu,613,325-9127,"$249,900"
1,"110 Rue Roméo-Lorrain|Gatineau (Buckingham), Q...",2,1,Gene Hartley,819,661-6118,"$224,900"
2,"229 DON BROWN PRIVATE|Kanata, Ontario K2M0A8",3 + 0,3,Brittany Brown,613,282-7653,"$684,900"
3,"320 MIWATE PRIVATE UNIT#508|Ottawa, Ontario K1...",1 + 0,1,Liam Kealey,613,698-8876,"$429,900"
4,"17-17A Rue du Nordet|Gatineau (Hull), Quebec J...",3,1,Yannick Arseneault,819,360-6967,"$574,900"
...,...,...,...,...,...,...,...
583,"71 LYNDALE AVENUE|Ottawa, Ontario K1Y2M7",3 + 0,1,Irina Popova,613,883-2513,"$779,000"
584,"95 HENDERSON AVENUE|Ottawa, Ontario K1N7P5",6 + 0,2,Chad Clost,613,324-7355,"$750,000"
585,"128/130 OSGOODE STREET|Ottawa, Ontario K1N6S4",12 + 0,4,Chad Clost,613,324-7355,"$1,650,000"
586,"2097 CHALMERS ROAD|Ottawa, Ontario K1H6K4",2 + 1,3,Charles Sezlik,613,744-6697,"$769,000"
587,"69 LEES AVENUE|Ottawa, Ontario K1S0B8",3 + 0,1,Nina Krakowsky,613,697-0034,"$579,900"

#### Step 10 - Store results in Excel

In [84]:
df_realtor.to_excel('realtor_multiple_pages.xlsx',index=False)

#### Step 11 - PostgreSQL

In [92]:
#create sqlalchemy engine
engine=sqlalchemy.create_engine('postgresql://postgres:12345@localhost:5432')
df_realtor.to_sql('real_estate_results',engine)